#api-doc {
    margin: 0% 20% 10% 20%;
    width: 60%;
    font-family: "Times New Roman";
    color: rgb(96, 129, 201);
    text-align: left;
  }
  
  #api-doc h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
  }
  
  #api-doc h2 {
    font-size: 45px;
    text-align: center;
  }
  
  .api-req-desc summary {
    font-size: 40px;
  }
  
  .api-req-desc ul {
    font-size: 40px;
  }
  
  .description {
    font-size: 25px;
    font-style: italic;
    font-weight: normal;
  }
  
  .api-req-desc h3 {
    font-size: 35px;
  }
  
  .api-req-desc p {
    font-size: 25px;
    padding-bottom: 0px;
  }
  
  .api-req-desc table {
    width: 80%;
    margin-bottom: 4vh;
    border-spacing: 0px;
    text-align: center;
    font-size: 25px;
  }
  
  .api-req-desc td,
  th {
    border: 2px solid rgb(96, 129, 201);
    background: white;
  }
  
  .api-req-desc code {
    font-size: 15px;
  }

  pre {
    border: 1px solid black;
  }

  @media screen and (max-width:800px){
    #api-doc {
      margin: 0% 10% 10% 10%;
      width: 80%;
    }
    
    #api-doc h1 {
      font-size: 40px;
    }
    
    #api-doc h2 {
      font-size: 35px;
    }

    .api-req-desc h4 {
      font-size: 20px;
    }
    
    .api-req-desc h3 {
      font-size: 25px;
    }
    
    .api-req-desc summary {
      font-size: 30px;
    }
    
    .api-req-desc ul {
      font-size: 30px;
    }

    .api-req-desc p {
      font-size: 20px;
      margin-top: 0px;
      margin-bottom: 4vh;
    }
    
    .api-req-desc table {
      width: 100%;
      font-size: 20px;
    }
  }