.inputFormHeader {
    margin-top: 2vh;
    font-family: "Times New Roman";
    color: rgb(96, 129, 201);
    text-align: center;
    font-size: 60px;
  }
  
  .inputForm {
    color: rgb(96, 129, 201);
  }
  
  .inputForm label {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
  }
  
  .inputForm textarea {
    font-family: "Times New Roman", Times, serif;
  }
  
  .inputForm input[type="submit"] {
    height: 7vh;
    width: 10vw;
    font-weight: bold;
    margin-bottom: 15vh;
  }

  #empty-error{
    padding: 2%; 
    margin-top: 2vh; 
    margin-bottom: -2vh; 
    background: rgb(247, 222, 222); 
    color: rgb(245, 80, 80); 
  }

  #empty-error h2{
    font-size: 20px; 
    font-weight: bold;
  }

  #wrong-data-err{
    padding: 2%; 
    margin-top: 2vh; 
    margin-bottom: -2vh; 
    background: rgb(247, 222, 222); 
    color: rgb(245, 80, 80);
  }

  .myBtn-outline{
    min-width: 150px;
    min-height: 50px;
  }

  @media screen and (max-width:800px){
    #wrong-data-err{
      margin-bottom: 2vh; 
    } 
  }