.header {
  z-index: 3;
  position: relative;
  margin-bottom: 5vh;
  font-family: Arial;
  background: #23a7b3;
  color: white;
}

.logo {

  &__link {
    padding: 0 0 0 10px;
  }

  &__img {
    height: 55px;
    box-shadow: 5px 5px #157780;
    margin: 0px;
  }
}

.nav-collapse {
  text-align: center;
  z-index: 3;

  .nav-link {
    font-size: 22px;
    color: white !important;
    font-weight: 600;
  
    &:hover {
      color: rgb(52, 107, 228);
    }
  }

  delimeter{
    border: 1px solid white;
    width: 100%;
  }
}

.main-nav{
  margin: 0px;
}

.auth-item{
  font-size: 20px !important;
  font-weight: normal !important;
}

.user-login{
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar {
  padding: 0px;
}

@media screen and (max-width:800px) {
  .logo {
    margin: 10px;
  }
}