main {
    min-height: 100%;
    margin: auto;
    font-family: "Times New Roman";
    color: rgb(96, 129, 201);
    text-align: center;
    width: 65%;
}

main h1 {
    font-size: 50px;
}

main p {
    font-size: 37px;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

@media screen and (max-width:800px){
    main {
        margin: auto;
        width: 80%;
    }
    
    main h1 {
        font-size: 40px;
    }
    
    main p {
        font-size: 27px;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
}