#pagination-container {
    display: flex;
    flex-direction: column;
  }
  
  #page-info {
    font-family: Arial;
    color: rgb(96, 129, 201);
    font-size: 20px;
    font-weight: bold;
  }
  
  #pagination-menu {
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
    width: 25vw;
  }
  
  .pagination-btn {
    height: 50px;
    width: 50px;
  }
  .pagination-btn:hover {
    cursor: pointer;
  }
  
  #goto-page-menu {
    margin: auto;
    justify-content: center;
  }
  
  #goto-page-menu input {
    width: 8vw;
    height: 4vh;
  }

  #goto-page-btn{
    min-width: 90px;
    min-height: 35px;
  }

  #goto-page-num{
    min-width: 90px;
    min-height: 35px;
  }

  @media screen and (max-width:800px){
    #pagination-menu {
      margin-bottom: 1vh;
      width: 50vw;
    }

    #goto-page-menu {
      display: flex;
      width: 50%;
      justify-content: center;
      margin-bottom: 20vh;
    }
  }