.searchbar {
    display: flex;
    justify-content: center;
    padding: 0px;

    &__input {
      width: 50%;
    }

    &__search-icon {
      width: 45px;
      height: 45px;
    }
  }

  @media screen and (max-width:800px){
    .searchbar__input {
      width: 80%;
    }
  }