#search-menu {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  
  #searchbar {
    width: 50%;
  }
  
  #search-img {
    width: 45px;
    height: 45px;
  }

  @media screen and (max-width:800px){
    #searchbar {
      width: 70%;
    }
  }